<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirecionar todas as requisições para o index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    # Se o mod_rewrite não está disponível, exibir uma mensagem de erro.
    <IfModule mod_alias.c>
        RedirectMatch 404 ^/$
    </IfModule>
</IfModule>